body {
    font-family: Arial, sans-serif;
    background: #0b0d17;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
